@use '../partials/colors' as *;

.services {
  background-color: $bg-color-four;
  color: $text-color-two;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0.875rem;
  gap: 1.5rem;
}

.services-content {
  gap: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $text-color-two;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 0.875rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 780px;
    font-weight: 600;
    text-align: justify;
  }
}

.haircuts {
  width: 100%;
  max-width: 1387px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.haircut {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.65);
  overflow: hidden;
  margin-left: 1rem;
  width: 320px;
  height: auto;

  img {
    width: 100%;
    height: 313px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.875rem;
  background-color: #fff;
  border: 2px solid #fff;
  z-index: 99;

  strong {
    font-size: 1.3rem;
    font-weight: 700;
  }

  button {
    background-color: $bg-color-two;
    color: $text-color-two;
    font-weight: bold;
    border: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    cursor: default;
  }
}

.swiper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .swiper-slide {
    padding: 2.5rem;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: $bg-color-two !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-shadow: 1px 1px 5px #000;

  &::after {
    font-weight: bold;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8) !important;
  }
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

@media (min-width: 250px) and (max-width: 559px) {
  .services-content {
    width: 100%;

    h2 {
      font-size: 2rem;
    }

    p {
      display: none;
      font-size: 1rem;
    }
  }

  .swiper {
    height: auto;
  }

  .haircuts {
    flex-direction: column;
    width: 100%;

    .haircut {
      margin-top: 0;
      margin-left: 2rem;
    }

    .haircut-info {
      padding: 0.5rem 0.875rem;
      height: 90px;

      strong {
        font-size: 1.5rem;
      }

      button {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 950px) {
  .services-content {
    width: 100%;

    h2 {
      font-size: 2rem;
    }

    p {
      display: none;
    }
  }

  .haircuts {

    .haircut {
      width: 260px;
      margin-top: 0;
      margin-left: 1.5rem;
    }

    .haircut-info {
      strong {
        font-size: 1rem;
      }

      button {
        font-size: 1rem;
      }
    }
  }

  .swiper {
    height: auto;
  }
}

@media (min-width: 1400px) {
  
}