$bg-color-one: #121212;
$bg-color-two: #ffa500;
$bg-color-two: rgb(255, 165, 0);
$bg-color-three: #444406;
$bg-color-four: #f1f1f1;
$bg-color-five: #000000;

$text-color-one: #ffa500;
$text-color-two: #121212;
$text-color-three: #FFF;