@use './partials/colors' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}


::-webkit-scrollbar-thumb {
  background: $bg-color-two;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

main, footer {
  font-family: "Oswald", sans-serif;
}
